@import url('https://fonts.googleapis.com/css?family=Quicksand');

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
}

body {
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 0 30px rgba(0,0,0,0.2) inset;
    display: flex;
        justify-content: center;
}

.main-container {
    height: 100%;
    width: 960px;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}

header {
    height: 290px;
    width: 100%;
    display: flex;
        justify-content: center;
        align-items: center;
}

footer {
    height: 200px;
    width: 100%;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .welcome {
            height: 50px;
            width: 450px;
            display: flex;
                align-items: center;
                justify-content: center;
            border-top: 5px solid #988676;
            border-bottom: 5px solid #988676;
            font-family: 'Quicksand', sans-serif;
            font-size: 25px;
            color: #988676;
        }

        div {
            height: 70px;
            width: 200px;
            display: flex;
                justify-content: space-around;
                align-items: center;
        }

        .fa-instagram {
        color: white;
        text-shadow: 0px 0px 30px gray;
        background: gray;
        border-radius: 50%;
        position: absolute;
            left: 50%;
            bottom: 40px;
    }
}


// HOME VIEW //

.home {
    width: 590px;
    height: 390px;

    parabox {
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: space-around;
    }

    div {
        height: 180px;
        width: 180px;
        cursor: pointer;
        border-radius: 50%;
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        font-weight: bolder;
        color: white;
        text-shadow: 0px 0px 10px black;
        display: flex;
            align-items: center;
            justify-content: center;
        background: url("../../app/assets/img/paraHome.jpg");
        background-attachment: fixed;
        background-size: cover;
    }
}


// CONTACT VIEW //

.contact {
    width: 620px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    header {
        min-height: 51px;
        max-height: 51px;
        width: 407px;
        display: flex;
            align-items: center;
            justify-content: center;
        border-top: 3px solid #988676;
        border-bottom: 3px solid #988676;
        margin-bottom: 35px;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        color: #988676;
        }

    main-wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }  

    main-wrapper div {
        width: 475px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    input {
        height: 30px;
        font-size: 15px;
        border: 2px solid lightgray;
        border-radius: 4px;
    }

    input:focus {
        outline: 2px solid gray;
    }

    .textarea {
        height: 30px;
        font-size: 15px;
        border: 2px solid lightgray;
        border-radius: 4px;
        display: flex;
        align-items: flex-start;
        max-width: 100%;
        min-width: 100%;
        min-height: 130px;
        max-height: 300px;
    }

    .textarea:focus {
        outline: 2px solid gray;
    }

    h3 {
        color: black;
        margin-top: 7px;
        margin-bottom: 1px;
    }
    
    p {
        color: gray;
        font-size: 10px;
        margin: 3px;
    }

    .name {

        .input-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                input {
                     width: 95%;
                }
            }
        }
    }

    .email {

        input {
            width: 100%;
        }
    }

    .subject {

        input {
            width: 100%;
        }
    }

    .date {

        .input-wrapper {
            display: flex;
            flex-direction: row;
            width: 50%;

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                input {
                     width: 85%;
                }
            }
        }
    }

    .message {

        input {
            width: 100%;
        }
    }

    .referral {

        input {
            width: 100%;
        }
    }

    button {
        height: 36px;
        width: 120px;
        margin-bottom: 15px;
        background-color: black;
        color: white;
        font-weight: bolder;
    }

    div:last-child {
        color: gray;
        font-size: 15px;
        text-align: center;
    }
}


// FLAVORS VIEW //

.view-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
        justify-content: center;
}

.flavors {
    width: 620px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #988676;
    display: flex;
        flex-direction: column;
        align-items: center;

    header {
        min-height: 51px;
        max-height: 51px;
        width: 407px;
        display: flex;
            align-items: center;
            justify-content: center;
        border-top: 3px solid #988676;
        border-bottom: 3px solid #988676;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        }

    main-wrapper {
        height: 400px;
        width: 100%;
        display: flex;
            justify-content: center;
        
        div {
            width: 200px;

            p {
                font-size: 23px;
                margin-bottom: 10px;
            }
        }
    }
    .last {
        width: 407px;
        padding-top: 20px;
        text-align: center;
        border-top: 3px solid #988676;
    }
}


// RENTALS VIEW //

.rentals {
    width: 650px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #988676;
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;

    header {
        min-height: 51px;
        max-height: 51px;
        width: 407px;
        display: flex;
            align-items: center;
            justify-content: center;
        border-top: 3px solid #988676;
        border-bottom: 3px solid #988676;
        margin-bottom: 35px;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        }

    main-wrapper {
        width: 650px;
        display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: space-between;

        div {
            height: 200px;
            width: 200px;
            margin-top: 17px;
            cursor: pointer;
            text-align: center;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}



// PORTFOLIO VIEW //

.portfolio {
    height: 100%;
    width: 590px;
    display: flex;
        flex-direction: column;
        align-items: center;

    header {
        height: 50px;
        width: 450px;
        display: flex;
            align-items: center;
            justify-content: center;
        border-top: 3px solid #988676;
        border-bottom: 3px solid #988676;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        color: #988676;
        margin-bottom: 70px;
        }

    .port-view {
        width: 100%;
        height: 100%;
        display: flex;
            align-items: center;

        parabox {
            width: 100%;
            height: 100%;
            background: white;
            display: flex;
                justify-content: space-around;
                align-items: center
        }

        div {
            height: 180px;
            width: 180px;
            cursor: pointer;
            border-radius: 50%;
            font-family: 'Quicksand', sans-serif;
            font-size: 30px;
            font-weight: bolder;
            color: gray;
            text-shadow: 0px 0px 5px white;
            display: flex;
                align-items: center;
                justify-content: center;
            background: url("../../app/assets/img/paracakes.jpg") no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    }
}


// WEDDING CAKES VIEW //

.cakes {
    width: 620px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #988676;
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;

    header {
        min-height: 51px;
        max-height: 51px;
        width: 407px;
        display: flex;
            align-items: center;
            justify-content: center;
        border-top: 3px solid #988676;
        border-bottom: 3px solid #988676;
        margin-bottom: 35px;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        }

    main-wrapper {
        width: 650px;
        display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: space-between;

        div {
            height: 200px;
            width: 200px;
            margin-top: 17px;
            cursor: pointer;
            text-align: center;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}


// DESSERTS VIEW //

.desserts {
    width: 650px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #988676;
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;

    header {
        min-height: 51px;
        max-height: 51px;
        width: 407px;
        display: flex;
            align-items: center;
            justify-content: center;
        border-top: 3px solid #988676;
        border-bottom: 3px solid #988676;
        margin-bottom: 35px;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        }

    main-wrapper {
        width: 650px;
        display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: space-between;

        div {
            height: 200px;
            width: 200px;
            margin-top: 17px;
            cursor: pointer;
            text-align: center;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}


// CELEBRATION VIEW //

.celebration {
    width: 650px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #988676;
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;

    header {
        min-height: 51px;
        max-height: 51px;
        width: 407px;
        display: flex;
            align-items: center;
            justify-content: center;
        border-top: 3px solid #988676;
        border-bottom: 3px solid #988676;
        margin-bottom: 35px;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        }

    main-wrapper {
        width: 650px;
        display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: space-between;

        div {
            height: 200px;
            width: 200px;
            margin-top: 17px;
            cursor: pointer;
            text-align: center;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}


// PRICING //

.pricing {
    width: 620px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #988676;
    display: flex;
        flex-direction: column;
        align-items: center;

    header {
        min-height: 51px;
        max-height: 51px;
        width: 407px;
        display: flex;
            align-items: center;
            justify-content: center;
        border-top: 3px solid #988676;
        border-bottom: 3px solid #988676;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        }

    main-wrapper {
        height: 100%;
        min-height: 200px;
        width: 100%;
        display: flex;
            justify-content: center;
    }
}








