<div class="view-wrapper">

    <section class="details">
        <header ui-sref='cakes' style="cursor: pointer">wedding cakes</header>

        <main-wrapper>

            <div class="container">
                <img ng-src="{{oneCake.image_path}}">

                <div class="middle">

                    <button class="text" ui-sref='cakes' ng-click="addToFavorites(oneCake)">add to favorites</button>

                    <button class="text" ui-sref='favorites' style="margin-top: 17px">go to favorites</button>
                    
                    
                    <!--<div class="icon">

                        <i class="fa fa-plus-circle fa-5x" aria-hidden="true" ng-click="addToFavorites(oneCake)"></i>

                    </div>-->
                    
                </div>
            </div>

        </main-wrapper>

    </section>

</div>