<section class="contact">
    <header>contact</header>

    <main-wrapper>
        <form>
            <div class="name">
                <h3>name</h3>
                <div class='input-wrapper'>
                    <div>
                        <input type="text" ng-model="con.firstname">
                        <p>first name</p>
                    </div>
                    <div>
                        <input type="text" style="width: 100%" ng-model="con.lastname">
                        <p>last name</p>
                    </div>
                </div>
            </div>

            <div class="email">
                <h3>email address</h3>
                <input type="e_mail" ng-model="con.email">
            </div>

            <div class="subject">
                <h3>subject</h3>
                <input type="text" ng-model="con.subject">
            </div>

            <div class="date">
                <h3>event date</h3>
                <div class="input-wrapper">
                    <div>
                        <input type="text" ng-model="event.month", "con.month">
                        <p>MM</p>
                    </div>

                    <div>
                        <input type="text" ng-model="event.day", "con.day">
                        <p>DD</p>
                    </div>

                    <div>
                        <input type="number" ng-model="con.year">
                        <p>YYYY</p>
                    </div>
                </div>
            </div>

            <div class="date">
                <h3>event location</h3>
                <div class="input-wrapper" style="width: 101%">
                    <div style="width: 150px">
                        <input type="text" ng-model="event.city" style="width: 95%">
                        <p>city</p>
                    </div>
                    <span style="text-align: center; padding-top: 7px; color: gray">likely weather conditions...</span>
                    <button style="margin: 0" ng-click="recTemp(event)">CHECK</button>
                </div>
            </div>

            <div class="message">
                <h3>message</h3>
                <textarea class="textarea"  ng-model="con.message"></textarea>
            </div>

            <div class="referral">
                <h3>how did you hear about annie's cakes?</h3>
                <input type="text" ng-model="con.referral">
            </div>

            <button ng-click="sendContact(con)">SUBMIT</button>

            <div class="lastText">feel free to also contact me directly through my email at anniepugmire@gmail.com</div>
        </form>
    </main-wrapper>

</section>