<section class="contact">
    <header>contact</header>

    <main-wrapper>

        <div class="name">
            <h3>name</h3>
            <div class='input-wrapper'>
                <div>
                    <input type="text">
                    <p>first name</p>
                </div>
                <div>
                    <input type="text" style="width: 100%">
                    <p>last name</p>
                </div>
            </div>
        </div>

        <div class="email">
            <h3>email address</h3>
            <input type="email">
        </div>

        <div class="subject">
            <h3>subject</h3>
            <input type="text">
        </div>

        <div class="date">
            <h3>event date</h3>
            <div class="input-wrapper">
                <div>
                    <input type="number">
                    <p>MM</p>
                </div>

                <div>
                    <input type="number">
                    <p>DD</p>
                </div>

                <div>
                    <input type="number">
                    <p>YYYY</p>
                </div>
            </div>
        </div>

        <div class="message">
            <h3>message</h3>
            <textarea class="textarea"></textarea>
        </div>

        <div class="referral">
            <h3>how did you hear about annie's cakes?</h3>
            <input type="text">
        </div>

        <button>SUBMIT</button>

        <div>for pricing or inquiries you can also email me at anniepugmire@gmail.com</div>

    </main-wrapper>

</section>