<div class="view-wrapper">

    <section class="flavors">
        <header>flavors</header>

        <main-wrapper>

            <div style="margin-left: 30px">
                <p>cake</p>
                <li>white</li>
                <li>chocolate</li>
                <li>funfetti</li>
                <li>raspberry</li>
                <li>lemon poppyseed</li>
            </div>


            <div>
                <p>filling</p>
                <li>vanilla</li>
                <li>chocolate</li>
                <li>chocolate orange</li>
                <li>vanilla chocolate chip</li>
                <li>caramel</li>
                <li>amaretto</li>
                <li>cream cheese</li>
                <li>strawberry</li>
                <li>raspberry</li>
                <li>lemon</li>
                <li>peanut butter</li>
                <li>coconut</li>
                <li>pina colada</li>
                <li>horchata</li>
                <li>cookies & cream</li>
            </div>


        </main-wrapper>

        <div class="last">
            <p>all cakes are frosted in swiss meringue buttercream</p>
            <p>ask me about custom flavors or mixing fillings</p>
            <p>cake tastings available - <a ui-sref='contact'><u>contact</u></a> to schedule</p>
        </div>

    </section>

</div>