<p>Pricing</p>

<!--Pricing for cakes  is based off of serving sizes and details. Please email me with pictures, ideas, and how many guests you plan on serving. 

Cupcakes...............$2.00 
Mini Cupcakes......$1.50
*Special order cupcake liners not included in price
Sheet cakes in servings of 50 or 100 in white or chocolate cake. 

>>Rentals:

Cake stands: $10.00 
Styrofoam cake dummies: $10.00
Cake toppers: hourly charge + supplies
Knife and server (Silver or gold): $5.00

. If any of our items get lost or thrown away (including styrofoam cake dummies) you will be asked to reimburse us. Any rentals should be returned two weeks after the event. 

We accept cash, checks, or Venmo.

>>Delivery charge: 

56 cents per mile + $20 an hour 

>>Other projects:

Custom invitations w/ printing and envelopes: $15.00 an hour + materials

For custom watercolor paintings, check out @anniebeeportraits on Instagram -->